.container {
  margin-top: 10px;
  .nav {
    padding-top: 15px;
    list-style: none;
    display: flex;
    flex-direction: row;
    .item {
      margin-right: 30px;
      font-size: 15px;
      color: #687074;
      &:hover {
        color: #e74c3c;
        cursor: pointer;
      }
    }
  }
}
